/* 
---01 TYPOGRAPHY SYSTEM

    -font size (px):
        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    -font-weight:
        400 , 500 , 600 , 700
    -line-height:
        defualt:1
---02 color:
    -primary color: #f88158 , #d45f33
    -tints color:
    -shades color:
    Accents:
    Greyes: #555

---03 shadows:

---04 Border-raduise:

---05: spaceing system
        -SPACING SYSTEM (px)
         2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #555;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*****************************/
/* General  */
/*****************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 1.8rem;
  border-radius: 1.1rem;
  margin-right: 2rem;
  transition: all 0.03s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #ff8000;
  color: #000;
}
.btn--full:hover,
.btn--full:active {
  background-color: #e67300;
  color: #000;
}

.btn--out:link,
.btn--out:visited {
  background-color: #ffe6cc;
  color: #000;
}
.btn--out:hover,
.btn--out:active {
  outline: 3px solid #ffe6cc;
  background-color: #ffd9b3;
}
/*****************************/
/* header Section  */
/*****************************/
.header {
  padding: 2.2rem 3.6rem;
  background-color: #ffd9b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  padding-right: 3.6rem;
  font-size: 2.4rem;
  color: #551a8b;
}
.logo a:link,
.logo a:visited {
  text-decoration: none;
  font-weight: 600;
}
.navbar {
  margin-top: 0.5rem;
  display: flex;
  gap: 3.2rem;
}
.nav-item {
  font-size: 1.8rem;
  /* color: #551a8b; */
  color: #000;
  font-weight: 500;
  cursor: pointer;
}
/*****************************/
/* Hero Section  */
/*****************************/
.section-hero {
  height: 110vh;
  padding-top: 3.2rem;
  background-color: #ffd9b3;
  padding-bottom: 3.2rem;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
}

.hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.1rem;
}
.hero-content {
  width: 125%;
  align-self: center;
}

.hero-describtion {
  margin-top: 3.6rem;
  font-size: 2.4rem;
  line-height: 1.6;
  color: #000;
  margin-bottom: 3.6rem;
}
